/*body {
  background-color: darkgreen;
}*/

h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

img {
  border-radius: 5%;
}

.content {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 5%;
}
