body {
  font-family: 'Brawler', serif;
}

h1 {
  text-align: center;
  font-size: 55px;
  margin-bottom: 40px;
  font-family: 'Allerta Stencil', sans-serif;
}

h3 {
  margin-bottom: 20px;
}

img {
  border-radius: 5%;
}

a.delete {
  color: red;
}
