<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="content">
      <h3 class="text-center">Add Animal</h3>
      <form action="/animals/new" method="post">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" name="name" class="form-control">
        </div>
        <button class="btn btn-primary form-control" type="submit" name="add-animal">Add</button>
      </form>
    </div>
  </div>
</div>
