<h3>All Animals:</h3>
<a href="/animals/new"><h4>Add Animal</h4></a>
<a href="/endangered/new"><h4>Add Endangered Animal</h4></a>
#foreach($animal in $animals)
  <h5>$animal.getName() ($animal.getType())</h5>
#end
