<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h3>$animal.getName()</h3>
    #if($animal.getType().equals("endangered"))
      <p>Health: $endangered.getHealth()</p>
      <p>Age: $endangered.getAge()</p>
    #end
    <h4>All Sightings:</h4>
    #foreach($sighting in $Sighting.allByAnimal($animal.getId()))
      <h5>Location: $sighting.getLocation()</h5>
      <h5>Ranger Name: $sighting.getRangerName()</h5>
    #end
  </div>
</div>
