<!DOCTYPE html>
<html>
  <head>
    <title>Wildlife Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Brawler" rel="stylesheet">    
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/animals">All Animals</a></li>
          <li><a href="/sightings">All Sightings</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">

      #parse( $template )

    </div>
  </body>
</html>
