<a href="/sightings/new"><button type="button" class="btn btn-primary">Add Sighting</button></a>
<h3>All Sightings:</h3>
#foreach($sighting in $sightings)
  <h5>Location: $sighting.getLocation(), Ranger: $sighting.getRangerName()</h5>
#end
